@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDo</title>
</head>
<body>
    <div>        
            <h3>List</h3>
 
            <table>
                <tr>
                    
                    <td><p><a href="/Home/Send">send</a></p></td>
                </tr>
                
                <tr>
                    <td><p>Name</p></td>
                    <td><p>IsComplate</p></td>
                    <td></td>
                </tr>
                @foreach (var b in ViewBag.items)
            {
                    <tr>
                        <td><p>@b.name</p></td>
                        <td><p>@b.IsComplate </p></td>

                        <td>
                        <td><p><a href="/Home/EditTask/@b.Id">Сhange</a></p></td>
    
                    </tr>
                }
            </table>
</div>
</body>
</html>
