@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>SubTask</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.ItemId" name="ItemId" />
            <table>
                <tr>
                    <td><p>Name </p></td>
                    <td><input type="text" name="name" /> </td>
                </tr>
                <tr>
                    <td><p>Order</p></td>
                    <td>
                    <td> <input type="number" step="1" min="1" max="5" value="1" name="order" /></td>
                    
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>